@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    font-family: "DM San", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
.overall {
    background-color: #2F1893;
    padding: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

.logo {
    margin-top: 23px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    line-height: 2.2;
}

nav ul li a {
    text-decoration: none;
    color: #FFf;
    margin-right: 20px;

}

.su-btn {
    outline: none;
    box-shadow: none;
    border: 0;
    background: #482BE7;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 20px;

}

.hero-section {
    text-align: center;
    margin-top: 90px;
}

.hero-section h1 {
    font-size: 50px;
    color: #FFf;
    font-weight: bold;
}

.hero-section p {
    color: #cfc9c9; 
    font-size: 13px;
    line-height: 1.5;
}

.hero-bottom {
 text-align: center;
}

::placeholder {
    color: #565555;
    font-size: 12px;
}


form input {
    outline: none;
    box-shadow: none;
    border: 1px solid #565555;
    background-color:#2F1893;
    color: #ccc;
    padding: 13px 26px;
    cursor: pointer;
    border-radius: 30px;
    width: 15%;
    margin-top: 30px;
}

.snd{
    outline: none;
    box-shadow: none;
    border: 0;
    background: #25DAC5;
    color: #fff;
    padding: 12px 30px;
    border-radius: 35px;
    font-size: 16px;    
}

.hero-bottom small {
    font-size: 12px;
    margin-top: 24px;
    display: block;
    color: #888;
}

.overheading {
    margin-bottom: 100px;
}

.overheading h3 {
    text-align: center;
    margin-top: 80px;
    color: #1E0E62;
    font-size: 30px;
}

.head , .head1 , .head2 {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 35px;
}
.heading1 p, .heading2 p, .heading3 p, .heading4 p, .heading5 p, .heading6 p {
    color: #1E0E62;
    font-size: 15px;
}

.heading1 small, .heading2 small, .heading3 small, .heading4 small, .heading5 small, .heading6 small {
    color: #15143966;
    font-size: 12px;
    line-height: 1.5;
}

.bckgrnd {
    background: #2F1893;
    padding-bottom: 20px;
}

.mot {
    margin: 0 135px;
}

.mid {
    margin: 30px 0;
} 

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.top h1 {
    color: #FFf;
}

.su-bt {
    outline: none;
    box-shadow: none;
    border: 1px solid white;
    background:none;
    color: #fff;
    padding: 12px 30px;
    border-radius: 35px;
}



/* .su-bt {
  padding: 5px 18px !important;
  height: 40px;
  background: none;
  border: 1px solid white;
  border-radius: 999px;
  color: white;
} */

.content {
    text-align: center;
    color: #fff;
}

.content h4 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: lighter;
}

.content p {
    font-size: 15px ;
}

.mid {
    display: flex;
    justify-content: space-between;
    gap: 15px;    
}